# Port or socket location where to connect
[client-server]
# replace default /run/mysqld/mysqld.sock
socket                  = /var/lib/mysql/mysqld.sock
port                    = 3306

# this is read by the standalone daemon and embedded servers
[server]
init_file               = /etc/mysql/init.sql

# this is only for the mysqld standalone daemon
[mysqld]
pid-file                = /var/lib/mysql/mysqld.pid
skip-bind-address
log_error               = /var/lib/mysql/mariadb.err
